*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*   HEADER   */
.header{
    top: 0;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
    background: linear-gradient(90deg, rgba(253,253,255,1) 0%, rgba(235,195,219,1) 100%);
    width: 100%;
    position: fixed;
    box-shadow: 0px 12px 18px -8px rgba(31, 30, 30, 0.75);
    z-index: 5000;
}

.header-img{
    width: 125px;
    height: 125px;
    cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;
}

.navbar li{
    list-style: none;
}

.navbar li a{
    text-decoration: none;
    color: rgb(235, 22, 199);
    font-size: 1.2rem;
}

.navbar li a:hover{
    border-bottom: 1px solid rgb(235, 22, 199);
}

.search{
    display: flex;
    align-items: center;
    width: 10rem;
    height: 2rem;
    margin-top: 2.5rem; 
    border: 1px solid rgb(236, 150, 202);
    border-radius: 30px;
}

.search > i{
    font-size: 1rem;
    color: rgb(236, 150, 202);
    padding: 1rem; 
    cursor: pointer;
}

.search > input{
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    visibility: hidden;
}

.menu i{
    color: rgb(236, 114, 188);
}

.cerrar-menu a i{
    font-size: 2rem;
    color: rgb(236, 114, 188);
    display: none;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.cart i{
    color: rgb(236, 114, 188);
}

.main{
    background: linear-gradient(90deg, rgba(253,253,255,1) 0%, rgba(235,195,219,1) 100%);
}

/* MAIN: CARROUSEL */
.carrousel{
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.img-car{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.flechas{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
    left: 0;
}

.flechas i{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

/* MAIN: SECTION PRODUCTS*/

.section-products{
    background: rgb(250, 250, 250);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 2rem 0 2rem 0;
    background: linear-gradient(90deg, rgba(253,253,255,1) 0%, rgba(235,195,219,1) 100%);
}

.products{
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    width: 16rem;
    height: 30rem;
}

.products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-container img{
    width: 15rem;
    height: 24rem;
    box-shadow: -4px 3px 16px -5px rgba(0,0,0,0.75);
}

.products-container a{
    background: rgb(243, 185, 220);
    margin-top: 1rem;
    color: rgb(231, 86, 173);
    height: 4rem;
    width: 12rem;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 24%, 100% 0, 100% 100%, 0% 100%);
}

.products-container a:hover{
    transform: scale(1.2);
    transition: .8s ease;
}

/* MAIN: SECTION PRESUPUESTO */

.section-presupuesto{
    background-image: url("../assets/diferentes-tipos-pan.jpg");
    width: 100%;
    height: 40rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    width: 400px;
    height: 200px;
    padding: 2rem;
    background-color: rgb(236, 150, 202);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.4);
    font-size: 1.1rem;
}

.button {
    position: relative;
    bottom: -40px;
    left: 13%;
    width: 250px;
    height: 70px;
    background-color:rgba(179, 12, 112);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.4);
    cursor: pointer;
}

.button:hover{
    background-color: rgb(231, 86, 173);
    transition: 1s ease;
}

.button a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    color: rgb(250, 220, 238);
    font-size: 1.3rem;
}

.title-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

/* SECTION: REDES E INFORMACION */

.section-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    padding-bottom: 4rem;
}

.line {
    border-top: 1px solid rgb(235, 22, 199);
    height: 2px;
    width: 80%;
    padding: 0;
    margin: 20px auto 0 auto;
    position: relative;
    top: 10px;
  }

.title-h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    position: absolute;
    background-color: rgb(252, 223, 240);
    margin-left: 12rem;
    text-transform: uppercase;
    font-size: 1rem; 
    border-radius: 10px;
}

.insta{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    width: 20%;
    margin: 2rem auto;
}

.insta a{
    text-decoration: none;
    margin-top: 1rem;
}

.insta a i{
    font-size: 3rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(236, 150, 202);
}

.insta a i:hover{
    transform: scale(1.2);
    transition: .5s ease all;
}

.insta-h3{
    font-size: 0.7rem;
    padding-top: 1.2rem;
    margin: 0 auto;
    text-transform: uppercase;
}

.insta-h3:hover{
    color: rgb(236, 150, 202);
    transition: .3s ease;
}

.button-info{
    width: 6rem;
    height: 3rem;
    margin: 0 auto;
    color: rgb(8, 8, 8);
    background-color: rgb(236, 150, 202);
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    transition: .3s ease all;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    border: none;
}

.button-info::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(250, 89, 185, 0.6);
    position: absolute;
    z-index: 1;
    top: 0;
    left: -95px;
    transition: .8s ease-in-out all;
}

.button-info:hover::after{
    left: 0;
}

.icon-redes{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 3rem;
    gap: 3rem;
}

.icon-redes li{
    list-style: none;
}

.icon-redes li a{
    color: rgb(236, 150, 202)
}

.icon-redes li a i{
    font-size: 3rem;
}

.icon-redes li a i:hover{
    transform: scale(1.2);
    transition: .5s ease all;
}

.line-news {
    border-top: 1px solid rgb(235, 22, 199);
    height: 2px;
    width: 80%;
    padding: 0;
    margin: 20px auto 0 auto;
    position: relative;
    top: 10px;
  }

.info-h2{
    width: 20%;
    position: absolute;
    background-color: rgb(252, 223, 240);
    text-transform: uppercase;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    margin-left: 12rem;
    border-radius: 10px;
}

.info-dos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 3rem;
    gap: 2rem;
}

.info-h3{
    text-transform: uppercase;
    font-size: 0.7rem;
    color: rgb(85, 85, 85);
}

.form-news{
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 1rem;
}

.form-news input{
    padding: 0.5rem;
    background-color: rgb(250, 250, 250);
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(250, 9, 178, 0.3);
}

/*   FOOTER   */

.footer{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background: linear-gradient(90deg, rgba(253,253,255,1) 0%, rgba(235,195,219,1) 100%);
    padding-top: 1rem;
    box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.5);
    height: 15rem;
}

.footer-nave{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
}

.footer-title{
    font-size: 1.5rem;
    color: rgb(85, 85, 85);
}

.footer-ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-ul li{
    list-style: none;
}

.footer-ul li a{
    text-decoration: none;
    color: rgb(151, 149, 149);
}

.footer-ul li a:hover{
    border-bottom: 1px solid  rgb(151, 149, 149);
}

.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-ul li{
    list-style: none;
    color: rgb(151, 149, 149)
}

.contact-ul li a{
    text-decoration: none;
}

.contact-ul li a i{
    margin-right: 1rem;
}

.derechos{
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
    color: rgb(85, 85, 85);
    padding-top: 1rem;
}

/*    JULIA  */


.main-academia {
    /* la fuente la pondría directamente en el body */
    font-family: 'Roboto Serif', sans-serif;
}

.main-academia section {
    position: relative;
    width: 100%;
    margin: 4rem 0;
}

.main-academia section.impar {
    background-color: #EDE3E9;
    padding: 2rem 0;
    border-radius: 15px;
}

.main-academia .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-academia section:not(.impar) .container::before {
    content: '';
    position: absolute;
    background-color: #EDE3E9;
    width: 4px;
    height: 100%;
    /* aspect-ratio: 1; */
    border-radius: 10px;
}

.main-academia .container div {
    max-width: 500px;
    overflow: hidden;
}

.main-academia .container img {
    display: block;
    border-radius: 10px;
    transition: 1s;
    object-fit: cover;
}

.main-academia .container img:hover {
    transform: scale(1.1);
    opacity: 0.75;
}

.main-academia .container p {
    align-self: center;
    display: block;
    max-width: 500px;
    line-height: 2;
}

.main-academia .container p span {
    font-family: 'Rouge Script', cursive;
    color: #7c3a77;
    font-size: 2rem;
    line-height: 1;
}

.main-academia .btn-contacto {
    background-color: #7c3a77;
    width: 150px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    border-radius: 50px;
}

.main-academia .btn-contacto:hover {
    background-color: #EDE3E9;
    border: 1px solid #7c3a77;
}

.main-academia .btn-contacto a {
    color: #EDE3E9;
}

.main-academia .btn-contacto a:hover {
    color: #7c3a77;
}


/******** SECCIÓN CONTACTO ********/

.main-contacto {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 0;
}

.main-contacto section {
    width: 50%;
}

.main-contacto section .sucursales {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

.main-contacto section .sucursales:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}

.main-contacto section .sucursales .sucursales-texto {
    text-align: start;
}

.main-contacto section .sucursales iframe {
    border: 3px solid #7c3a77;
    width: 300px;
}

.main-contacto form {
    display: block;
    margin-top: 0;
    width: 30%;
}


/********VER PORQUE NO QUEDA MUY LINDO PISAR TANTO LOS ESTILOS ********/


input.form-control,
select.form-select,
textarea.form-control {
    padding: 0.5rem;
    background-color: rgb(250, 250, 250);
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(250, 9, 178, 0.3);
}

textarea.form-control {
    height: 200px !important;
    resize: none;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
    color: #7c3a77 !important;
}

.form-control:focus {
    color: #d07cae;
    border-bottom: #7c3a77;
    box-shadow: none;
}

.form-control {
    border: none;
    border-bottom: 3px solid #f087c6;
    border-radius: 0;
    transition: none;
}

.form-select:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.form-select {
    border: none;
    border-bottom: 3px solid #f087c6;
    border-radius: 0;
}

.btn {
    --bs-btn-bg: #f087c6;
    --bs-btn-border-color: #f087c6;
    --bs-btn-disabled-bg: #f087c6;
    --bs-btn-disabled-border-color: #f087c6;
}

.btn-check:checked+.btn,
.btn.active,
.btn:hover,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: #EDE3E9;
    background-color: #7c3a77;
    border-color: #EDE3E9;
}

.form-check-input:checked {
    background-color: #f087c6;
    border-color: #7c3a77;
}

.form-check-input:focus {
    border-color: #7c3a77;
    outline: 0;
    box-shadow: none;
}


/*********SECCION PRODUCTOS********/
.container-productos {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: 2rem auto;
    padding-top: 8rem;
    overflow: hidden;
}

.container-productos .container-producto {
    position: relative;
}

.container-productos .container-producto .container-img {
    max-width: 250px;
    max-height: 400px;
    object-fit: cover;
}

.container-productos .container-producto .container-descripcion::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 0px 28px 250px;
    border-color: transparent transparent #f7f7f7 transparent;
    left: 0px;
    top: -28px;
}

.container-productos .container-producto .container-descripcion {
    position: absolute;
    bottom: 0;
    background-color: #f7f7f7;
    width: 250px;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/* RESPONSIVE */
@media(max-width: 768px){
    .nav{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
    }

    .visible{
        opacity: 1;
        visibility: visible;
    }

    .navbar{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 10rem;
        height: 100vh;
        background: linear-gradient(45deg, rgba(253,253,255,1) 0%, rgba(235,195,219,1) 100%);
        box-shadow: 0 0 0 100vmax rgba(0,0,0, .5);
        padding-top: 10rem;
        z-index: 20;
    }

    .navbar li a{
        color: rgb(236, 114, 188);
    }

    .menu{
        visibility: visible;
        position: absolute;
        right: 0;
        margin-right: 1rem;
        margin-top: 2.5rem;
    }

    .nav .visible{
        opacity: 1;
        visibility: visible;
    }

    .cerrar-menu a i{
        display: block;
        position: absolute;
        padding-left: 4rem;
        padding-top: 2.5rem;
        z-index: 1000;
    }

    .cart{
        right: 0;
        padding-top: 0.5rem;
    }

    .search{
        width: 16rem;
        margin-left: 4rem;
    }

    .section-products{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .line{
        display: none;
    }

    .line-news{
        display: none;
    }

    .section-info{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .title-h2{
        position: relative;
        margin: 0 auto;
    }

    .info-h2{
        position: relative;
        margin: 0 auto;
        margin-top: 2rem;
        width: 15rem;
    }
} 


@media(max-width: 600px){
        .header{
            display: grid;
            grid-template: repeat(4, 1fr) ;
            grid-template-areas: "img search cart menu";
        }

        .header-img{
            grid-area: img;
        }

        .search{
            grid-area: search;
            width: 8rem;
        }

        .cart{
            grid-area: cart;
            margin-right: 3rem;
        }

        .menu{
            grid-area: menu;
        }
    }

@media screen and (max-width: 576px) {
    .main-academia .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-academia section:not(.impar) .container::before {
        background-color: transparent;
    }

    .main-academia .container div {
        max-width: 300px;
    }

    .main-academia .container p {
        font-size: 0.85rem;
        max-width: 300px;
        text-align: center;
        line-height: 1.6;
        padding: 1rem 0;
    }

    .main-academia .container p span {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    .main-contacto {
        flex-direction: column;
        margin: 2rem 0;
    }

    .main-contacto section {
        width: 100%;
    }

    .main-contacto section .sucursales {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
    }

    .main-contacto section .sucursales:nth-child(even) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-contacto section .sucursales .sucursales-texto {
        text-align: start;
    }

    .main-contacto section .sucursales iframe {
        border: 3px solid #7c3a77;
        width: 100%;
    }

    .main-contacto form {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width:991px) {
    main.container-productos {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:600px) {
    main.container-productos {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    main.container-productos .container-producto .container-img {
        max-width: 200px;
        max-height: 300px;
    }

    main.container-productos .container-producto .container-descripcion::before {
        border-width: 0 0px 28px 200px;
        border-color: transparent transparent #f7f7f7 transparent;
    }

    main.container-productos .container-producto .container-descripcion {
        width: 200px;
        height: 25%;
        bottom: -50px;
    }
}

@media screen and (max-width:480px) {
    main.container-productos {
        margin-top: 3rem;
        width: 100%;
        grid-template-columns: 1fr;
        row-gap: 5rem;
    }

    main.container-productos .container-producto .container-img {
        max-width: 300px;
        max-height: 400px;
    }

    main.container-productos .container-producto .container-descripcion::before {
        border-width: 0 0px 28px 300px;
        border-color: transparent transparent #f7f7f7 transparent;
    }

    main.container-productos .container-producto .container-descripcion {
        width: 300px;
        height: 15%;

    }
}
