@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3rem;
    background: linear-gradient(90deg, rgba(253, 253, 255, 1) 0%, rgba(235, 195, 219, 1) 100%);
    box-shadow: 0px 12px 18px -8px rgba(0, 0, 0, 0.75);
    font-family: 'Roboto Serif', sans-serif;
}

.logo {
    max-width: 10rem;
    /* Sacaría el display flex de acá */
    display: flex;
}

.logo img {
    border-radius: 10px;
}

.nav-list {
    display: flex;
    gap: 1rem;
}


.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: #7c3a77;
}

.nav-list li a:hover {
    color: #f087c6;
    border-bottom: 1px solid #f087c6;
    transition: .5s ease;
}

/*  Carrousel    */

#conteItemsCarrusel {
    height: 25em;
    overflow: hidden;
    margin: 2em 2em 0 2em;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 75);
}

.itemCarrusel {
    position: relative;
    height: 100%;
    background-color: brown;
}

.tarjetaCarrusel {
    height: 100%;
}

.flechasCarrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

#tarjetaCarrusel-1 {
    background-color: rgb(212, 49, 49);
}

#tarjetaCarrusel-2 {
    background-color: rgb(122, 25, 93);
}

#tarjetaCarrusel-3 {
    background-color: rgb(31, 24, 126);
}

a {
    text-decoration: none;
}

a li {
    list-style: none;
}

i {
    color: rgb(255, 255, 255);
}

.contePuntos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.7em;
}

.contePuntos>a {
    font-size: 0.7em;
}

a>i {
    color: rgb(207, 196, 196);
}

img {
    width: 100%;
    height: 100%;
}


/******** SECCIÓN ACADEMIA ********/

.main-academia {
    /* la fuente la pondría directamente en el body */
    font-family: 'Roboto Serif', sans-serif;
}

.main-academia section {
    position: relative;
    width: 100%;
    margin: 4rem 0;
}

.main-academia section.impar {
    background-color: #EDE3E9;
    padding: 2rem 0;
    border-radius: 15px;
}

.main-academia .container {
    display: flex;
    justify-content: space-evenly;
}

.main-academia section:not(.impar) .container::before {
    content: '';
    position: absolute;
    background-color: #EDE3E9;
    width: 4px;
    height: 100%;
    /* aspect-ratio: 1; */
    border-radius: 10px;
}

.main-academia .container div {
    max-width: 500px;
    overflow: hidden;
}

.main-academia .container img {
    display: block;
    border-radius: 10px;
    transition: 1s;
    object-fit: cover;
}

.main-academia .container img:hover {
    transform: scale(1.1);
    opacity: 0.75;
}

.main-academia .container p {
    align-self: center;
    display: block;
    max-width: 500px;
    line-height: 2;
}

.main-academia .container p span {
    font-family: 'Rouge Script', cursive;
    color: #7c3a77;
    font-size: 2rem;
    line-height: 1;
}

.main-academia .btn-contacto {
    background-color: #7c3a77;
    width: 150px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    border-radius: 50px;
}

.main-academia .btn-contacto:hover {
    background-color: #EDE3E9;
    border: 1px solid #7c3a77;
}

.main-academia .btn-contacto a {
    color: #EDE3E9;
}

.main-academia .btn-contacto a:hover {
    color: #7c3a77;
}


/******** SECCIÓN CONTACTO ********/

.main-contacto {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 0;
}