<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <script src="https://kit.fontawesome.com/0fb7144512.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,300;0,8..144,400;0,8..144,700;1,8..144,100;1,8..144,300;1,8..144,400;1,8..144,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
  <body>
    <header class="header">
        <a href="../index.html"><img src="../assets/logo.png" class="header-img" alt="logo"></a>
        <nav class="nav" id="nav">
            <div class="cerrar-menu" id="cerrar">
                <a href="#"><i class="fa-solid fa-xmark"></i></a>
            </div>
            <ul class="navbar">
              <li><a href="./historia.html">Historia</a></li>
              <li><a href="./productos.html">Productos</a></li>
              <li><a href="./academia.html">Academia</a></li>
              <li><a href="./contacto.html">Contacto</a></li> 
            </ul>
        </nav>
        <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" class="search-input" placeholder="Buscar" maxlength="21">
        </div>
        <div class="menu" id="abrir">
                <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>  
        <div class="cart">
            <a href="../carrito.html"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </header>
    <main class="main-academia">

        <section>
          <div class="container">
            <div>
              <img src="../assets/img-academia-1.jpg" alt="persona poniendo harina en una mesa">
            </div>
            <p>¿Te apasiona el mundo de la repostería y sueñas con crear delicias que hagan sonreír a todos? En nuestra Academia de Pastelería <span>Las Lilas</span>, te ofrecemos la oportunidad de convertirte en un maestro pastelero. Desde los secretos de los pasteles más exquisitos hasta las técnicas más avanzadas de decoración, nuestros expertos te guiarán en un viaje delicioso hacia la maestría pastelera. ¡Descubre tu talento y crea dulces memorables con nosotros!</p>
          </div>
        </section>
  
        <section class="impar">
          <div class="container">
            <p>¿Te gustaría conquistar el mundo de la pastelería con tus creaciones únicas? Te ofrecemos una experiencia de aprendizaje que va más allá de la simple repostería. Aprenderás las técnicas tradicionales y contemporáneas para hornear y decorar pasteles de ensueño. Nuestros chefs expertos te guiarán en la creación de delicias que cautivarán todos los sentidos. Además, te enseñaremos a emprender tu propio negocio de pastelería si así lo deseas. Únete a nuestra familia pastelera y da rienda suelta a tu creatividad en cada bocado.</p>
            <div>
              <img src="../assets/img-academia-2.jpg" alt="persona decorando un pastel con una manga">
            </div>
          </div>
        </section>
  
        <section>
          <div class="container">
            <div>
              <img src="../assets/img-academia-3.jpg" alt="mujer sosteniendo bandeja de facturas dulces">
            </div>
            <p>En la Academia de Pastelería <span>Las Lilas</span>, la magia comienza en la cocina. Sumérgete en un mundo de sabor y creatividad, donde aprenderás a hornear pasteles que despierten emociones y deleiten paladares. Nuestros cursos están diseñados para todos, desde principiantes entusiastas hasta chefs aficionados que buscan perfeccionar sus habilidades. Experimenta la alegría de trabajar con ingredientes de alta calidad y descubre cómo transformar harina, azúcar y huevos en obras maestras comestibles. Únete a nosotros y conviértete en el artífice de momentos dulces e inolvidables.</p>
          </div>
        </section>
  
        <div class="btn-contacto"><a href="./contacto.html">Contactanos!</a></div>
  
    </main>
    <footer class="footer">
      <div class="footer-nave">
          <h3 class="footer-title">Navegacion</h3>
          <ul class="footer-ul">
            <li><a href="./historia.html">Historia</a></li>
            <li><a href="./productos.html">Productos</a></li>
            <li><a href="./academia.html">Academia</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
          </ul>
      </div>
      <div class="footer-contact">
          <h3 class="footer-title">Contactanos</h3>
          <ul class="contact-ul">
              <li><a href="#"><i class="fas fa-phone-alt"></i></a>Todos los dias de 9 a 20:30hs</li>
              <li><a href="#"><i class="fas fa-envelope"></i></a>contacto@laslilaspasteleria.com.ar</li>
              <li><a href="#"><i class="fas fa-map-marker-alt"></i></a>Seguinos! @LasLilasPasteleria</li>
          </ul>
      </div>
      <div class="derechos">
          <p>Copyright Las Lilas Pasteleria 2023. Todos los derechos reservados</p>
      </div>
  </footer>
  <script src="../js/script.js"></script>
</body>
</html>