<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,300;0,8..144,400;0,8..144,700;1,8..144,100;1,8..144,300;1,8..144,400;1,8..144,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/spacelab/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Las Lilas || Contacto</title>
  </head>

  <body>
    <header class="d-flex justify-content-between header">
      <a href="../index.html"><img src="../assets/logo.png" class="header-img" alt="logo"></a>
      <nav class="nav" id="nav">
        <div class="cerrar-menu" id="cerrar">
          <a href="#"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <ul class="d-flex justify-content-center navbar">
          <li><a href="./historia.html">Historia</a></li>
          <li><a href="./productos.html">Productos</a></li>
          <li><a href="./academia.html">Academia</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </nav>
      <div class="menu" id="abrir">
        <a href="#"><i class="fa-solid fa-bars"></i></a>
      </div>
    </header>

    <!-- <header class="header">
      <div class="logo">
        <a href="../index.html"><img src="../assets/logo.png" alt="Logo"></a>
      </div>
      <nav class="nav">
        <ul class="nav-list">
          <li><a href="./productos.html">Productos</a></li>
          <li><a href="./historia.html">Sobre Nosotros</a></li>
          <li><a href="./academia.html">Academia</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header> -->
    <div class="img-hero">
      <div class="bg-hero bg-contacto">
        <!-- <img src="../assets/hero-contacto.jpg" alt="imagen de contacto"> -->
      </div>
      <h1>Contactanos</h1>
    </div>

    <main class="main-contacto">
      <section>
        <div class="sucursales">
          <div class="sucursales-texto">
            <h2>Sucursal Capital Federal</h2>
            <p>Dirección: Calle Comercial 123</p>
            <p>Colegiales - CABA - República Argentina</p>
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d108717.91189794605!2d-60.74498770564174!3d-31.62194501372928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b5a9adc40888e1%3A0xdcf7761e8d02804a!2sSanta%20Fe%20de%20la%20Vera%20Cruz%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1695760678712!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
        <div class="sucursales">
          <div class="sucursales-texto">
            <h2>Sucursal Bariloche</h2>
            <p>Dirección: Avenida ficticia 4321</p>
            <p>San Carlos de Bariloche - República Argentina</p>
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d108717.91189794605!2d-60.74498770564174!3d-31.62194501372928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b5a9adc40888e1%3A0xdcf7761e8d02804a!2sSanta%20Fe%20de%20la%20Vera%20Cruz%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1695760678712!5m2!1ses!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </section>

      <form action="laslilaspasteleria23@gmail.com" method="POST" id="form">
        <div class="mb-3">
          <input type="text" class="form-control" id="inputName" placeholder="Nombre">
          <p></p>
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
          <p></p>
        </div>
        <div class="mb-3">
          <select class="form-select">
            <option selected>Motivo *</option>
            <option value="1">Hacer un pedido</option>
            <option value="2">Estudiar con nosotros</option>
            <option value="3">Otras consultas</option>
          </select>
        </div>
        <div class="mb-3">
          <input type="tel" class="form-control" id="inputTelefono" placeholder="Telefono de contacto (opcional)">
          <p></p>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="inputCountry" placeholder="Domicilio (opcional)">
        </div>
        <div class="mb-3 form-floating">
          <textarea class="form-control" placeholder="Comentarios *" id="floatingTextarea"></textarea>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Quiero recibir las novedades</label>
        </div>
        <button type="submit" class="btn">Enviar</button>
        <p></p>
      </form>


    </main>

    <footer class="footer">
      <div class="footer-nave">
        <h3 class="footer-title">Navegacion</h3>
        <ul class="footer-ul">
          <li><a href="./historia.html">Historia</a></li>
          <li><a href="./productos.html">Productos</a></li>
          <li><a href="./academia.html">Academia</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </div>
      <div class="footer-contact">
        <h3 class="footer-title">Contactanos</h3>
        <ul class="contact-ul">
          <li><a href="#"><i class="fas fa-phone-alt"></i></a>Todos los dias de 9 a 20:30hs</li>
          <li><a href="#"><i class="fas fa-envelope"></i></a>contacto@laslilaspasteleria.com.ar</li>
          <li><a href="#"><i class="fas fa-map-marker-alt"></i></a>Seguinos! @LasLilasPasteleria</li>
        </ul>
      </div>
      <div class="derechos">
        <p>Copyright Las Lilas Pasteleria 2023. Todos los derechos reservados</p>
      </div>
    </footer>

    <script src="../js/form.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  </body>

</html>