<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
  </head>

  <body>
    <header>
      <a href="../index.html"><img src="" alt="Logo ....."></a>
      <nav>
        <ul>
          <li><a href="./productos.html">Productos</a></li>
          <li><a href="./historia.html" class="active">Sobre Nosotros</a></li>
          <li><a href="./academia.html">Academia</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <main></main>

    <footer></footer>

  </body>

</html>