<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
  </head>

  <body>
    <header>
      <img href="./index.html"><img src="#" alt="Logo"></img>
      <nav>
        <ul>
          <li><a href="./views/productos.html">Productos</a></li>
          <li><a href="./views/historia.html">Sobre Nosotros</a></li>
          <li><a href="./views/academia.html">Academia</a></li>
          <li><a href="./views/contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>


    <main></main>

    <footer></footer>

  </body>

</html>