<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <script src="https://kit.fontawesome.com/0fb7144512.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,300;0,8..144,400;0,8..144,700;1,8..144,100;1,8..144,300;1,8..144,400;1,8..144,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
  <body>
    <header class="header">
        <a href="../index.html"><img src="../assets/logo.png" class="header-img" alt="logo"></a>
        <nav class="nav" id="nav">
            <div class="cerrar-menu" id="cerrar">
                <a href="#"><i class="fa-solid fa-xmark"></i></a>
            </div>
            <ul class="navbar">
              <li><a href="./historia.html">Historia</a></li>
              <li><a href="./productos.html">Productos</a></li>
              <li><a href="./academia.html">Academia</a></li>
              <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <div class="menu" id="abrir">
                <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>  
    </header>
    <main class="container-productos">
        <div class="container-producto prod-1">
          <div class="container-img">
            <img src="../assets/macarons.jpg" alt="macarrons">
          </div>
          <div class="container-descripcion">
            <h3>Macarons</h3>
          </div>
        </div>
        <div class="container-producto prod-2">
          <div class="container-img">
            <img src="../assets/alfajores-maicena.jpg" alt="alfajores-maicena">
          </div>
          <div class="container-descripcion">
            <h3>Alfajores de Maicena</h3>
          </div>
        </div>
        <div class="container-producto prod-3">
          <div class="container-img">
            <img src="../assets/alfajores-negro.jpg" alt="alfajores-negro">
          </div>
          <div class="container-descripcion">
            <h3>Alfajores de Chocolate</h3>
          </div>
        </div>
        <div class="container-producto prod-4">
          <div class="container-img">
            <img src="../assets/conitos-ddl.jpg" alt="conitos-ddl">
          </div>
          <div class="container-descripcion">
            <h3>Conitos de Dulce de Leche</h3>
          </div>
        </div>
        <div class="container-producto prod-5">
          <div class="container-img">
            <img src="../assets/cannoli.jpg" alt="cannoli">
          </div>
          <div class="container-descripcion">
            <h3>Cannolis</h3>
          </div>
        </div>
        <div class="container-producto prod-6">
          <div class="container-img">
            <img src="../assets/bombones.png" alt="bombones">
          </div>
          <div class="container-descripcion">
            <h3>Bombones de Chocolate</h3>
          </div>
        </div>
        <div class="container-producto prod-7">
          <div class="container-img">
            <img src="../assets/budin-limon.jpg" alt="budin-limon">
          </div>
          <div class="container-descripcion">
            <h3>Budin de Limon</h3>
          </div>
        </div>
        <div class="container-producto prod-8">
          <div class="container-img">
            <img src="../assets/merengue-relleno.jpg" alt="merengue-relleno">
          </div>
          <div class="container-descripcion">
            <h3>Merengue Relleno</h3>
          </div>
        </div>
        <div class="container-producto prod-9">
          <div class="container-img">
            <img src="../assets/torta-balcarce.jpg" alt="torta-balcarce">
          </div>
          <div class="container-descripcion">
            <h3>Torta Balcarce</h3>
          </div>
        </div>
        <div class="container-producto prod-10">
          <div class="container-img">
            <img src="../assets/torta-chocolate.jpg" alt="torta-chocolate">
          </div>
          <div class="container-descripcion">
            <h3>Torta de Chocolate</h3>
          </div>
        </div>
        <div class="container-producto prod-11">
          <div class="container-img">
            <img src="../assets/torta-oreo.jpg" alt="torta-oreo">
          </div>
          <div class="container-descripcion">
            <h3>Torta Oreo</h3>
          </div>
        </div>
        <div class="container-producto prod-12">
          <div class="container-img">
            <img src="../assets/chessecake.jpg" alt="chessecake">
          </div>
          <div class="container-descripcion">
            <h3>Chessecake</h3>
          </div>
        </div>
    </main>
    <footer class="footer">
      <div class="footer-nave">
          <h3 class="footer-title">Navegacion</h3>
          <ul class="footer-ul">
            <li><a href="./historia.html">Historia</a></li>
            <li><a href="./productos.html">Productos</a></li>
            <li><a href="./academia.html">Academia</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
          </ul>
      </div>
      <div class="footer-contact">
          <h3 class="footer-title">Contactanos</h3>
          <ul class="contact-ul">
              <li><a href="#"><i class="fas fa-phone-alt"></i></a>Todos los dias de 9 a 20:30hs</li>
              <li><a href="#"><i class="fas fa-envelope"></i></a>contacto@laslilaspasteleria.com.ar</li>
              <li><a href="#"><i class="fas fa-map-marker-alt"></i></a>Seguinos! @LasLilasPasteleria</li>
          </ul>
      </div>
      <div class="derechos">
          <p>Copyright Las Lilas Pasteleria 2023. Todos los derechos reservados</p>
      </div>
  </footer>
  <script src="../js/script.js"></script>
</body>
</html>